{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react-hooks",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "globals": {
    "__VERSION__": "readonly",
    "__COMMITHASH__": "readonly",
    "__BRANCH__": "readonly",
    "window": "readonly"
  },
  "parser": "@typescript-eslint/parser"
}